
@{
    ViewBag.Title = "Xóa nhân viên";
}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="#">
            <div class="form-group">
                <label class="control-label col-sm-2">Họ và tên:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">Margaret Peacock</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">19/09/1958</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">margaret.peacock@liteshop.com</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ghi chú:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        Margaret holds a BA in English literature from Concordia College and an MA
                        from the American Institute of Culinary Arts.
                        She was temporarily assigned to the London office before returning to her permanent post in Seattle.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh cá nhân:</label>
                <div class="col-sm-10">
                    <img src="~/Themes/dist/img/user2-160x160.jpg" class="img img-bordered" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-remove"></i> Đồng ý xóa
                    </button>
                    <a class="btn btn-warning" href="~/employee">
                        <i class="fa fa-ban"></i> Bỏ qua
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>

