
@{
    ViewBag.Title = "Nhà cung cấp";
}

<form action="#" method="post" class="form-control">
    <div class="input-group">
        <input type="text" name="q" class="form-control bg-primary" placeholder="Search...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
        <span class="input-group-btn">
            <a href="~/supplier/create" class="btn btn-flat btn-default" style="margin-left:5px">
                Bổ sung
            </a>
        </span>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th>Tên nhà cung cấp</th>
                <th>Tên giao dịch</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Quốc gia</th>
                <th>Thành phố</th>
                <th>Mã bưu chính</th>
                <th style="width:80px"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Exotic Liquid</td>
                <td>Charlotte Cooper</td>
                <td>(171) 555-2222</td>
                <td>49 Gilbert St.</td>
                <td>UK</td>
                <td>Londona</td>
                <td>EC1 4SD</td>
                <td class="text-right">
                    <a href="~/supplier/edit/1" class="btn-xs btn-success">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="~/supplier/delete/1" class="btn-xs btn-warning">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>New Orleans Cajun Delights</td>
                <td>Shelley Burke</td>
                <td>(100) 555-4822</td>
                <td>P.O. Box 78934</td>
                <td>USA</td>
                <td>New Orleans</td>
                <td>70117</td>
                <td></td>
            </tr>
            <tr>
                <td>Grandma Kelly's Homestead</td>
                <td>Regina Murphy</td>
                <td>(313) 555-5735</td>
                <td>707 Oxford Rd.</td>
                <td>USA</td>
                <td>Ann Arbor</td>
                <td>48104</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center">
    <ul class="pagination">
        <li><a href="#"><i class="fa fa-backward"></i></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="fa fa-forward"></i></a></li>
    </ul>
</div>
