@model SV19T1021254.Web.Models.PaginationSearchResult
@{
    ViewBag.Title = "Người giao hàng";
}

<form id="searchInput" action="~/shipper/search">
    <div class="input-group">
        @Html.HiddenFor(m => m.PageSize)
        <input type="text" name="searchValue"
               class="form-control"
               placeholder="Nhập tên hoặc số điện thoại của người giao hàng cần tìm"
               value="@Model.SearchValue">
        <span class="input-group-btn">
            <button type="submit" id="search-btn" class="btn btn-flat btn-info">
                <i class="fa fa-search"></i>
            </button>
            <a href="~/shipper/create"
               class="btn btn-flat btn-primary"
               style="margin-left:5px;">
                <i class="fa fa-plus"></i> Bổ sung
            </a>
        </span>
    </div>
</form>

<div id="searchResult">

</div>

@section scripts{
    <script src="~/scripts/search.js"></script>
    <script>
        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#searchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return false;
            });
        });
    </script>
}
