<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 0.1.0 beta
    </div>
    <strong>Bản quyền &copy; 2022-2022 <a href="#">GrokkenTeam</a>.</strong>Đăng ký tại cục Sở hữu trí tuệ Việt Nam.
</footer>
